* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$orange-color:#ffbc00;
$w-color:#fff;
$b-color:#000;
$ws-color:#ecebeb;
$dark-color:#333333;
$d-color:#5c5b5b57;
nav {
    width: 100%;
    max-height: 100%;
    background: $dark-color;
}

.about {
    width: 100%;
    .about-content {
        margin-top: 90px;
        text-align: center;
        p {
            padding: 10px 0;
        }
        .items {
            display: flex;
            .item-about-1 {
                width: 50%;
                height: 100%;
            }
            .item-about-2 {
                background: $ws-color;
                padding-left: 10px;
                width: 50%;
                height: 370px;
                line-height: 1.5rem;
                border-left: 4px solid $orange-color;
                h3 {
                    padding: 20px;
                }
            }
        }
    }
}

.award-about {
    width: 100%;
    height: 100%;
    .items {
        display: flex;
        text-align: center;
        padding: 20px;
        .item {
            i {
                color: $orange-color;
                padding: 10px;
            }
            h2 {
                text-transform: uppercase;
            }
            p {
                padding: 0 20px;
            }
        }
    }
}

.skill {
    width: 100%;
    max-height: 100%;
    display: block;
    .skill-items {
        background: $dark-color;
        h2 {
            text-align: center;
            padding: 20px;
            color: $w-color;
        }
        .skill-item {
            width: 90px;
            padding: 10px 10px;
            margin-left: 50px;
            p {
                color: $w-color;
                padding: 5px 0;
                font-size: 1.5rem;
                font-weight: bold;
            }
            .span-skill-orange {
                display: block;
                width: 1200px;
                border: 10px solid $orange-color;
                border-radius: 5px;
            }
        }
    }
}

// Logos
.logo {
    width: 100%;
    height: 100%;
    background: $ws-color;
    .logo-img {
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
    }
}

// Testmonial
.testmonial {
    width: 100%;
    height: 100%;
    .content {
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        .test {
            list-style: none;
            display: flex;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 10px;
            li {
                padding: 10px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-top: 10px;
                }
                h4 {
                    display: inline-block;
                    height: 80%;
                    vertical-align: 15px;
                    padding-left: 10px;
                }
                p {
                    padding: 20px;
                    border: 2px solid $d-color;
                    border-radius: 10px;
                    text-align: left;
                }
            }
        }
    }
}