* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}

.container {
  margin: auto;
}

.span {
  display: block;
  margin: 10px auto;
  width: 80px;
  background: #ffbc00;
  border: 2px solid #ffbc00;
}

nav {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
}

nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .content img {
  width: 75px;
  height: 75px;
}

nav .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 20px;
}

nav .content ul li {
  margin-left: 30px;
}

nav .content ul li:hover {
  border-bottom: #ffbc00 3px solid;
}

nav .content ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

header {
  width: 100%;
  height: 100vh;
}

header .showcase {
  background: url(../img/showcase.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .showcase .content {
  width: 100%;
  height: 100%;
  text-align: center;
}

header .showcase .content h1 {
  padding-top: 280px;
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
}

header .showcase .content p {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 0;
}

header .showcase .content p a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

header .showcase .content .link {
  margin-top: 15px;
}

header .showcase .content .link a {
  font-size: 1.2rem;
  text-decoration: none;
  background: #fff;
  color: #000;
  padding: 15px 30px;
}

header .showcase .content .link a:hover {
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  background: #ffbc00;
}

.work-home {
  width: 100%;
  height: 400px;
  background: #ecebeb;
}

.work-home .content {
  width: 100%;
}

.work-home .content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 0;
}

.work-home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.work-home .row .item {
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  width: 24%;
  margin: 20px 5px;
}

.work-home .row .item i {
  color: #ffbc00;
  font-size: 2.5rem;
  padding: 20px 0;
}

.work-home .row .item h1 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.work-home .row .item p {
  text-align: center;
  line-height: 1.5;
}

.reward {
  width: 100%;
  height: 350px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.253))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.253))), url(../img/showcase.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.253)), linear-gradient(rgba(0, 0, 0, 0.253)), url(../img/showcase.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.reward .reward-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 125px;
  color: #fff;
}

.reward .reward-section .r-item {
  width: 100%;
  text-align: center;
}

.reward .reward-section .r-item i {
  padding: 10px 0;
}

.reward .reward-section .r-item h3 {
  font-size: 1.5rem;
  color: #ffbc00;
  font-weight: bold;
}

.reward .reward-section .r-item p {
  font-size: 1rem;
  color: #ffbc00;
  font-weight: bold;
}

.process-content {
  text-align: center;
  padding: 30px 0;
}

.process-content p {
  margin: 20px 0;
}

.process-content .item {
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  width: 24%;
  margin: 20px 5px;
}

.process-content .item i {
  color: #ffbc00;
  font-size: 2.5rem;
  padding: 20px 0;
}

.process-content .item h1 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.process-content .item p {
  text-align: center;
  line-height: 1.5;
}

footer {
  background: #333333;
  padding: 20px 0;
  width: 100%;
  height: 80px;
}

footer .container {
  padding: 0 20px;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copy, footer .copy a {
  color: #fff;
  font-size: 1.3rem;
}

footer .copy a {
  text-decoration: none;
  color: #ffbc00;
}

footer .socials {
  color: #fff;
  font-size: 2rem;
}

footer .socials :hover {
  color: #ffbc00;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */